<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live User Counter</title> 
</head>
<body>
    <h1>Active Users: <span id="activeUsers">0</span></h1>
    <script src="./js/index.js"></script>
</body>
</html>
